*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: "Young Serif", serif;
}

h2, .mesure{
    color: hsl(14, 45%, 36%);
}

h3, .preparation li::before{
    color:  hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
}

main{
    background-color:  hsl(0, 0%, 100%);
}

p{
    line-height: 1.5;
}

p, li{
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

section{
    padding: 20px 20px 20px 0;
}

span{
    font-weight: bold;
}
/*******************HEADER******************/
.head img{
    width: 100%;
}

.head header{
    padding-bottom: 20px;
}

.head header h1{
    padding: 20px 28px;
    color: #000;
    font-size: 2em;
}

.head p{
    display: flex;
    flex-direction: column;
}

.preparation{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: hsl(330, 100%, 98%);
    padding: 20px 20px 20px 30px;
}

.preparation ul, .ingredients ul{
    list-style: none;
}

.preparation li::before{
    content: "\2022";
    display: inline-block;
    vertical-align: sub;
    padding: 0 20px 0 5px;
    font-size: 25px;
}



.preparation li, .ingredient li{
    padding: 10px; 
    position: relative;   
}

.preparation li:first-of-type::before{
    vertical-align: top;
    line-height: 2;    
}

.preparation li em{
    font-style: normal;
    position: absolute;
    top: 22px;
    left: 34px;
}
/******************INGREDIENTS******/
ul, ol{
    padding-top: 15px;  
}

.ingredients ul li{
    position: relative;
    /* padding: 10px 40px 10px 10px; */
    text-indent: -60px;
    padding-left: 70px;
}

.ingredients li::before{
    content: "\25A0";
    padding: 10px 40px 10px 10px;
    color: hsl(14, 45%, 36%);
    font-size: 15px;
    position: relative;
    top: -8px;
}

.ingredients li:last-of-type::before{
   top: 15px;

}

.ingredients li em{
    display: block;
    font-style: normal;
    position: relative;
    left: 23px;

}

.straight{
    padding-inline: 30px;
}
/* INSTRUCTIONS */

.instructions ol{
    list-style: none;
    counter-reset: step;  
}

.instructions ol li{
    counter-increment: step;
    line-height: 1.5;
    margin-bottom: 16px;
    position: relative;
    left: 34px;
    margin-inline-end: 25px;    
}

.instructions ol li::before{
    content: counter(step)".";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    position: absolute;
    left: -30px;   
}

/* NUTRITION */
.nutrition h2{
    margin-bottom: 20px;
}

.nutrition p{
    line-height: 1.5;
}

.table{
    display: flex;
    margin: 20px 0 20px 32px;
}

.table p{
    width: 50%;
}

.mesure{
    font-weight: bold;
}

@media (max-width:1339px){
   body{
        font-size: 16px;
   }

   h1{
    padding-inline: 30px;
   }

   .head{
        padding: 0;
   }

   .head header img{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    }

   .head p{
        letter-spacing: -0.4px;
        padding-inline-start: 30px;
        padding-inline-end: 50px;
   }

   .preparation{
        margin-inline: 30px;
        width: auto;
   }

   .preparation h3{
        /* padding-bottom: 10px; */
   }
   
   .preparation li{
        padding: 0;
   }

   .preparation li::before{
        font-size: 25px;
    }

    .ingredients, .instructions, .nutrition{
        margin-inline: 30px;
    }

    .ingredients {
        line-height: 30px;
    }

    .ingredients li::before{
        top: -2px;
        left: -13px;
        padding-right: 7px;
        font-size: 10px;
    }
}

@media (min-width:1000px){
    body{
        background-color: hsl(328, 61%, 94%);
    }

    main{
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin: 20%;
    }

    .head{
        padding-top: 30px;
    }

   .head .headImg{
        margin-inline: 30px;
        max-width: 100%;
    }

    .head .headImg img{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .preparation li em{
        position: relative;
        top: 0;
        left: 0;
    }  
    
    .preparation li:first-of-type::before{
        vertical-align: middle;  
    }
}

