*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: "Young Serif", serif;
    padding: 30px;
    font-size: 34px;
}

h2, .mesure{
    color: hsl(14, 45%, 36%);
}

h3, .preparation li::before{
    color:  hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
}

hr{
    color: hsl(30, 18%), 87%;
}

p, li{
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

section{
    padding: 20px 20px 20px 0;
}

span{
    font-weight: bold;
}
/*******************HEADER******************/
.header header img, .preparation{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 100%;
}

.header header{
    padding-bottom: 20px;
}

.header header h1{
    padding: 20px 0;
    color: #000;
    font-size: 2em;
}

.header p{
    display: flex;
    flex-direction: column;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    padding: 20px 20px 20px 30px;
}

.preparation ul, .ingredients ul{
    list-style: none;
}

.preparation li::before{
    padding: 10px 30px 10px 5px;
    content: "\2022";
    font-size: 35px;
}

.preparation li, .ingredient li{
    padding: 10px;    
}
/******************INGREDIENTS******/
ul, ol{
    padding-top: 15px;  
}

.ingredients li::before{
    content: "\25A0";
    padding: 10px 40px 10px 10px;
    color: hsl(14, 45%, 36%);
    font-size: 15px;
    position: relative;
    top: -8px;
}

.straight{
    width: 100%;
    border: 0.5px solid  hsl(32, 26%, 80%);
}
/* INSTRUCTIONS */
.instructions em{
    font-style: normal;
    margin-inline-start: 62px;
}

.instructions ol{
    margin-left: -10px;
    list-style: none;
    counter-reset: list-counter;
}

.instructions ol li{
    counter-increment: list-counter;
    line-height: 45px;
    margin-left: 20px;
}

.instructions ol li::before{
    content: counter(list-counter)".";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    margin-right: 35px;
}
/* NUTRITION */
.table{
    display: flex;
    margin: 20px 0 20px 64px;
}

.table p{
    width: 50%;
}

.mesure{
    font-weight: bold;
    margin-left: -50px;
}

