*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: "Young Serif", serif;
    padding: 20px;
    font-size: 32px;
}

h2{
h2{
    color: hsl(14, 45%, 36%);
}

h3{
    color:  hsl(332, 51%, 32%);
}

hr{
    color: hsl(30, 18%), 87%;
}

p, li{
    font-family: "Outfit", sans-serif;
}

section, .preparation{
    /* padding: 20px; */
    padding: 20px 20px 20px 0;
}

span{
    font-weight: bold;
}

/*******************HEADER******************/
.header header img, .preparation{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.header header{
    padding-bottom: 20px;
}

.header header h1{
    padding: 20px 0;
    color: #000;
    font-size: 2em;
}

.header p{
    display: flex;
    flex-direction: column;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
}

.preparation ul{
    /* padding-left: 20px; */
    /* padding-top: 15px; */
}

.preparation ul, .ingredient ul{
    list-style: none;
}

.preparation li::before, .ingredient li::before{
    padding: 10px;
    content: "\2022";
    color:  hsl(332, 51%, 32%);
}

.preparation li, .ingredient li{
    padding: 10px;
    
}


/******************INGREDIENTS******/
ul, ol{
    /* padding-left: 20px;
     */
    padding-top: 15px;
   
}

.straight{
    width: 100%;
    border: 0.5px solid  hsl(32, 26%, 80%);
}
/* INSTRUCTIONS */
.instructions ol{
    margin-left: 10px;
    list-style: none;
    counter-reset: list-counter;
}

.instructions ol li{
    counter-increment: list-counter;
    line-height: 40px;
    margin-left: 20px;
    text-align: left;
}

.instructions ol li::before{
    content: counter(list-counter)".";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    margin-right: 15px;
    /* text-align: justify; */
}


