*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: "Young Serif", serif;
    /* padding: 30px; */
    font-size: 34px;
}

h2, .mesure{
    color: hsl(14, 45%, 36%);
}

h3, .preparation li::before{
    color:  hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
}

hr{
    color: hsl(30, 18%), 87%;
}

p, li{
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

section{
    padding: 20px 20px 20px 0;
}

span{
    font-weight: bold;
}
/*******************HEADER******************/
.header img{
    width: 100%;
}

.header header{
    padding-bottom: 20px;
}

.header header h1{
    padding: 20px 28px;
    color: #000;
    font-size: 2em;
}

.header p{
    display: flex;
    flex-direction: column;
}

.preparation{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: hsl(330, 100%, 98%);
    padding: 20px 20px 20px 30px;
}

.preparation ul, .ingredients ul{
    list-style: none;
}

.preparation li::before{
    content: "\2022";
    display: inline-block;
    vertical-align: sub;
    padding: 0 20px 0 5px;
    font-size: 25px;
}



.preparation li, .ingredient li{
    padding: 10px; 
    position: relative;   
}

.preparation li:first-of-type::before{
    vertical-align: top;
    line-height: 2;

    
}

.preparation li em{
    font-style: normal;
    position: absolute;
    top: 22px;
    left: 34px;
}
/******************INGREDIENTS******/
ul, ol{
    padding-top: 15px;  
}

.ingredients ul{}

.ingredients ul li{
    position: relative;
    /* padding: 10px 40px 10px 10px; */
    text-indent: -60px;
    padding-left: 70px;
}

.ingredients li::before{
    content: "\25A0";
    padding: 10px 40px 10px 10px;
    color: hsl(14, 45%, 36%);
    font-size: 15px;
    position: relative;
    top: -8px;
}

.ingredients li:last-of-type::before{
   top: 15px;

}

.ingredients li em{
    display: block;
    font-style: normal;
    position: relative;
    left: 23px;

}



.straigh{
    width: 80%;
    
    border: 0.5px solid  hsl(32, 26%, 80%);
}
/* INSTRUCTIONS */

.instructions ol{
    list-style: none;
    counter-reset: step;
   
}

.instructions ol li{
    counter-increment: step;
    line-height: 2;
    margin-bottom: 16px;
    position: relative;
    left: 34px;    
}

.instructions ol li::before{
    content: counter(step)".";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    position: absolute;
    left: -30px;
    
    
}

/* NUTRITION */
.table{
    display: flex;
    margin: 20px 0 20px 64px;
}

.table p{
    width: 50%;
}

.mesure{
    font-weight: bold;
    margin-left: -50px;
}

@media (max-width:1443px){
   body{
        font-size: 16px;
   }

   h1{
    padding-inline: 30px;
   }

   .header{
        padding: 0;
   }

   .header header img{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

   .header p{
        letter-spacing: -0.4px;
        padding-inline-start: 30px;
        padding-inline-end: 50px;
   }

   .preparation{
        margin-inline: 30px;
        width: auto;
   }

   .preparation h3{
        padding-bottom: 10px;
   }
   
   .preparation li{
        padding: 0;
   }

   .preparation li::before{
        /* padding: 0 30px 0 5px; */
        font-size: 25px;
    }

    .ingredients, .instructions, .nutrition{
        margin-inline: 30px;
    }

    .ingredients {
    line-height: 30px;
    }

    .ingredients li::before{
        top: -2px;
        left: -13px;
        padding-right: 7px;
        font-size: 10px;
    }
}

